@font-face {
    font-family: "Space Grotesk";
    src: url('fonts/SpaceGrotesk-Regular.ttf');
    font-weight: 400;
}
@font-face {
    font-family: "Space Grotesk";
    src: url('fonts/SpaceGrotesk-Bold.ttf');
    font-weight: 700;
}

  @font-face {
    font-family: "Bebas";
    src: url('fonts/BebasNeue-Bold.ttf');
    font-weight: 700;
  }
html{
    scroll-behavior: smooth;
    overflow-x: hidden;
}
body{
    background: #e0f1ff;
}

*, body{
    margin: 0;
    padding: 0;
    position: relative;
    font-family: "Poppins", Arial, sans-serif;
    box-sizing: border-box;
    // transition: all 0.5s cubic-bezier(0.71, 0.01, 0.13, 1.03), color 0s ease;
    scroll-behavior: smooth;
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;

    &::-webkit-scrollbar {
        display: none;
    }
    
}

h1{
    font-family: 'Space Grotesk', "Arial", sans-serif;
    font-size: 68px;
    line-height: 68px;
    font-weight: 700;
    margin: 20px 0;
    @media screen and (max-width:480px){
        font-size: 38px;
        line-height: 38px;
    }
}
h2{
    font-family: 'Poppins', "Arial", sans-serif;
    font-size: 52px;
    line-height: 52px;
    font-weight: 500;
    margin: 20px 0;
    @media screen and (max-width:480px){
        font-size: 32px;
        line-height: 32px;
    }
}
h3, h3 span, .heads p{
    font-size: 44px;
    line-height: 50px;
    margin: 20px 0;
    font-family: 'Space Grotesk', "Arial", sans-serif;
    font-weight: 700;
    width: 100%;
    text-transform: uppercase;
    @media screen and (max-width:480px){
        font-size: 28px;
        line-height: 28px;
    }
}
h4{
    font-size: 38px;
    line-height: 40px;
    font-weight: 600;
    margin: 20px 0;
    @media screen and (max-width:480px){
        font-size: 24px;
        line-height: 22px;
    }
}
h5 {
    font-size: 24px;
    line-height: 28px;
    font-weight: 600;
    margin: 20px 0;
    @media screen and (max-width:480px){
        font-size: 20px;
        line-height: 24px;
    }
}
h6 {
    font-size: 18px;
    line-height: 22px;
    font-weight: 600;
    margin: 20px 0;
    @media screen and (max-width:480px){
        font-size: 16px;
        line-height: 16px;
    }
}

p, li{
    font-family: "Poppins", Arial, sans-serif;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0.5;
    color: #000c;
    margin: 10px 0;
    @media screen and (max-width:480px){
        font-size: 14px;
    }
    
}
b{
    font-weight: 600;
}
blockquote{
    font-size: 18px;
}
a{
    font-family: "Space Grotesk", Arial, sans-serif;
    font-size: 12px;
    color: inherit;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-decoration: none;
    transition: all .4s cubic-bezier(0.21, 0.05, 0, 1.01);
    overflow: hidden;
    width: auto;
    padding: 7px 0;
}
button{
    font-family: "Space Grotesk", Arial, sans-serif;
    font-size: 12px;
}
// a::after {
//     content: "";
//     position: absolute;
//     bottom: 0;
//     left: 0;
//     height: 2px;
//     width: 100%;
//     background-color: #30f9dd;
//     top: 120%;
//     transition: all .2s ease;
// }
.work-link{
    padding: 10px 0;
    overflow: hidden;
    width: fit-content;
}

.link-uline {
    position: absolute;
    right: 0;
    pointer-events: none;
    fill: none;
    stroke: #000;
    stroke-width: 1px;
    width: 300%;
    height: 100%;
    top: -3px;
    transition: transform 0.7s;
    transition-timing-function: cubic-bezier(0, 0.25, 0.5, 1);
}

.work-link:hover .link-uline{
    transform: translate3d(66.6%, 0, 0);
}

.work-link:hover a{
    letter-spacing: 2px;
}
/*
a:hover::after{
   top: 100%; 
}
*/
.btn{
    background: #000;
    
    padding: 15px 20px;
    width: fit-content;
    overflow: hidden;
    border-radius:15px;
    box-shadow: 0px 0px 0px #0001;
    transition: all .5s ease-in-out;
    z-index:-3;
}
.btn a{
    color: #fff;
}
.btn:hover a{
    letter-spacing: 2px;
    color: #000a;
}
.btn:hover{
    box-shadow: 0px 25px 20px -10px #0004;
}
.btn a::after{
    background: transparent;
}
.btn::after{
    background-color: #fff;
    content: "";
    position: absolute;
    transform: skewX(20deg);
    top: 0%;
    bottom: 0;
    left: -125%;
    height: 100%;
    width: 115%;
    z-index: -2;
    transition: all .8s cubic-bezier(0.2, 0, 0, 1); 
}

.btn:hover::after, .btn a:hover::after{
    transform: skewX(-20deg);
    left: -5%;
}

body.scroll-stopped{
    overflow: hidden;
}

.header{
    position: fixed;
    z-index: 9999;
    width: 100%;
    background: #fff;
    // visibility: visible;
    transform: translateY(-100%);
    transition: all .4s cubic-bezier(0.21, 0.05, 0, 1.01);
    &.hide{
        background: #0000!important;
    }
    &.show{
        transform: translateY(0);
    }
    &.dark{
        // background: #fff0;
        a, li, p{
            color: #fff;
        }
        .header-logo{
            filter: invert(100%);
        }
        .header-menu-icon{
            div{
                background: #fff !important;
            }
        }

    }

    .header-container{
        display: flex;
        flex-direction: row;
        padding: 0;
        font-size: 16px;
        line-height: 24px;
        align-items: center;
        @media screen and (max-width:760px){
            justify-content: space-between;
        }

        .header-logo{
            transition: all .4s cubic-bezier(0.21, 0.05, 0, 1.01);
            z-index: 2;
            margin: 0 20px;
            @media screen and (max-width:760px){
                width: 200px;
                // padding: 8px 0;
            }
            img{
                width: 100%;
            }
        }
        .header-menu-icon{
            display: none;
            padding: 16px 20px;
            z-index: 5;
            @media screen and (max-width:760px){
                display: block;
            }

            div{
                background:#000;
                width: 20px;
                height: 1px;
                margin: 8px 0;
                z-index: 2;
                transition: all .3s ease-in-out;
                transition-delay: 0.2s;
            }
            &.close div:first-child{
                transform: rotate(315deg) translate(-3px, 3px);
            }
            &.close div:last-child{
                transform: rotate(45deg) translate(-3px, -3px);
            }
        }

        .header-menu{
            display: flex;
            flex-direction: row;
            width: calc(100% - 186px);
            justify-content: space-between;
            align-items: center;
            // transition: all .3s ease-in-out;
            @media screen and (max-width:760px){
                top: 0;
                right: 0;
                transform: translate(100%, 0);
                flex-direction: column;
                align-items: flex-start;
                position: absolute;
                background: #000a;
                padding: 120px 20px 20px;
                width: 100%;
                height: 100vh;
                backdrop-filter: blur(12px);
            }
            
            ul{
                list-style-type: none;
                margin-left: 20px;
                font-size: 12px;
                text-transform: uppercase;
                display: flex;
                flex-direction: row;
                @media screen and (max-width:760px){
                    flex-direction: column;
                    margin: 0; 
                }
                li{
                    color: inherit;
                    display: inline-block;
                    margin: 0;
                    padding: 18px 10px;
                    transform: translateY(-60px);
                    transition: transform .4s cubic-bezier(0.2, 0.0, 0, 1.0);
                    &:nth-child(1){
                        transition-delay: 0s;
                    }
                    &:nth-child(2){
                        letter-spacing: 2px;
                        transition-delay: 0.3s;
                    }
                    &:nth-child(3){
                        transition-delay: 0.6s;
                    }
                    &:nth-child(4){
                        transition-delay: 0.9s;
                    }
                }
                
            }
            .header-cta{
                padding: 10px 16px;
                margin-right: 10px;
            }
        }
       
   }
}


.header.show{
    visibility: visible;
}
.header.show .header-logo{
    opacity: 1;
}
.header.show li{
    transform: translateY(0) !important;
}




.hero{
    position: relative;
    width: 100%;
    height: 100vh;
    left: 0;
    right: 0;
    /* transition: all .3s .5s ease; */

    .hero-container{
        position: relative;
        height: 100%;
        max-width: 1100px;
        display: flex;
        flex-direction: row;
        justify-content:space-between;
        align-items: center;
        @media screen and (max-width:760px){
            flex-direction: column;
            height: auto;
            padding-top: 0;
            
        }
        @media screen and (max-width:1024px){
            max-width: 900px;
        }
    
        .hero-details{
            position: relative;
            left: 0;
            width: 45%;
            z-index: 10;
            display: flex;
            flex-direction: column;
            color: #fff;

            @media screen and (max-width:760px){
                top: 0;
                margin:0;
                margin-top: 80px;
                margin-bottom: 40px;
                transform: translateY(0);
                width: 100%;
                text-align: center;
                align-content: center;
            }
            @media screen and (min-width:1024px){
                width: 50%;
            }
        
            .hero-logo{
                margin: 20px 0;
                display: flex;
                align-items: center;
                @media screen and (max-width:760px){
                    margin: 5px 0;
                    margin-bottom: 80px;
                }
                img{
                    @media screen and (max-width:760px){
                        width: 200px;
                    }
                }

                span{
                    top: 50%;
                    transform: translate(0px, 20%);
                    margin-left: 6px;
                    color: #0006;
                    img{
                        font-size: 14px;
                    }
                }
                
            }
            .hero-logo:last-child{
                color: #0008;
            }
            .hero-name{
                line-height: 64px;
                letter-spacing:0px;
                font-size: 72px;
                margin: 10px 0;
                width: 150%;
                text-transform: uppercase;
                display: flex;
                flex-direction: column;
                color: inherit;
                @media screen and (max-width:760px){
                    width: 100%;
                    margin: 14px 0;
                    font-size: 60px;
                    line-height: 50px;
                    letter-spacing: -1px;
                    display: flex;
                    flex-direction: column;
                    text-align: center;
                }
                @media screen and (max-width:480px){
                    // font-family: 'Bebas', Arial, sans-serif;
                    font-size: 50px;
                    line-height: 40px;
                }

                span{
                    font-family:inherit;
                    font-size: inherit;
                    line-height: inherit;                 
                }
                
                .roles{
                    position:relative;
                    height: 60px;
                    font-family: inherit;
                    @media screen and (max-width:760px){
                        height: 30px;
                    }
                }

                .role1, .role2, .role3{
                    position: absolute;
                    font-family: inherit;
                    @media screen and (max-width:760px){
                        left: 50%;
                        transform: translateX(-50%);
                    }
                }
            }
            
            .hero-desc h2{
                font-size: 20px;
                line-height: 24px;
                font-weight: 400;
                margin: 20px 0;
                padding-right: 20px;
                color: inherit;
                opacity: 0.8;

                @media screen and (max-width:1024px){
                    font-size: 18px;
                }
                @media screen and (max-width:760px){
                    font-size: 16px;
                    line-height: 23px;
                }
            }

            .hero-cta{
                margin-top: 20px;
                @media screen and (max-width:760px){
                    left: 0;
                    right: 0;
                    margin: 0 auto;
                }
                a{
                    margin-top: 40px;
                    text-decoration: none;
                }
            }

        }
        .hero-artwork{
            position: relative;
            width: 55%;
            height: 100%;
            z-index: 5;
            text-align: center;
            display: flex;
            align-items: center;
            flex-direction: column;
            @media screen and (max-width:760px){
                width: 100%;
                height: 500px;
            }
            @media screen and (max-width:1024px){
                width: 50%;
                
            }

            .hero-image-holder{
                width: 100%;
                height: 100%;
                min-width: 350px;
                max-width: 450px;
                font-weight: 300;
                overflow: visible;
            }
            img{
                position: absolute;
                right: 0;
                bottom: 0;
                height: 90%;

                @media screen and (max-width:480px){
                    height: 105%;
                }
            }
            .hero-image-overlay{
                position: absolute;
                bottom: 0;
                left: 0;
                height: 20%;
                width: 100%;
                background: linear-gradient(0deg, #222739, transparent);
            }
            .play-button{
                bottom: 0;
                left: 0;
                position: absolute;
                margin: 20px 30px;
                color: #fff;
                display: flex;
                align-items: center;
                .play{
                    background-color: #0000;
                    margin-right: 10px;
                    width:20px;
                    height: 24px;
                }
            }
        }
        
        
    }
    .dot-pattern{
        width: 60%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        z-index: 0;
    }
    .hero-overlay{
        position: absolute;
        width: 100%;
        height: 100vh;
        z-index: 99;
        pointer-events:none;
        .hero-logo-1{
            padding: 20px;
            filter: invert(100%)
        }
        .scroll-indicator{
            position: absolute;
            transform: rotate(90deg) translate(-40px, -20px);
            bottom: 10px;
            right: 10px;
            display: inline-flex;
            p{
                color: #fff;
            }
            span{
                width: 50px;
                height: 1px;
                background: #fff;
                position: relative;
                top: 10px;
                left: 10px;
            }
        }
        .social-icons{
            position: absolute;
            bottom: 10px;
            left: 10px;
            display: inline-flex;
            pointer-events: all;
            filter: invert(100%);
           
            a{
                padding: 0;          
            }
        }
    }
    
}




.hero-image-holder main{
    height:100%;
    width: 100%;
    #hero-frame{
        height: 100%;
        left: 50%;
        transform: translateX(-50%);
    }
    #gl{
        width: 100%;
        height: 100%;
    }
    
}


.bio{
    position: relative;
    width: 100%;
    opacity: 1;
    /* transition: all .3s .5s ease; */

    .bio-container{
        position: relative;
        padding: 200px 0;
        text-align: center;

        .bio-head{
            position: relative;
            text-transform: uppercase;
            letter-spacing: 2px;
            color: #fff;
            margin-bottom: 60px;
            p{
                font-size: 12px;
                color: inherit;
            }
            span{
                position: absolute;
                content: "";
                width: 30px;
                height: 8px;
                top: 200%;
                left: 50%;
                background: #30f9dd;
                transform: translateX(-50%) skewY(0deg);
            }
            
        }

        .bio-summary{
            font-size: 44px;
            line-height: 50px;
            text-align: center;
            color: #fff;
            text-transform: none;
            max-width: 860px;
            left: 0;
            right: 0;
            margin: 120px auto 80px;
            @media screen and (max-width:480px){
                // font-family: 'Bebas', Arial, sans-serif;
                font-size: 40px;
                line-height: 35px;
            }
            span{
                margin: 0;
                display: inline-block;
                white-space: pre;
                width: auto;
                text-transform: none;
                font-family: inherit;
                font-size: inherit;
                line-height: inherit;
            }
        }
        .bio-figures{
            display: flex;
            flex-direction: row;
            justify-content:space-between;
            max-width: 540px;
            left: 0;
            right: 0;
            margin: auto;
            @media screen and (max-width:480px){
                flex-direction: column;
                width: fit-content;
            }

            .bio-fig-item{
                display: flex;
                
                .bio-fignum{
                    font-size: 32px;
                    color: #fff;
                    
                }
                .bio-figtxt{
                    font-size: 14px;
                    padding: 12px 0;
                    padding-left: 50px;
                    color: #fff;
                }
                .bio-figtxt::before{
                    position: absolute;
                    content: "";
                    height: 1px;
                    width: 20px;
                    background: #fff5;
                    left: 10%;
                    top: 50%;
                    transform: translateY(-50%);
                }
            }
        
            
        }

    }
}


.works{
    position: relative;
    width: 100%;
    /* opacity: 0; */
    /* transition: all .3s .5s ease; */
    color: #fff;
    .works-container{
        position: relative;
        padding: 100px 20px;
        .works-head{
            overflow: hidden;
            margin: 50px 20px;
        }
        .works-list{
            display: grid;
            grid-gap: 20px;
            grid-template-columns: calc(50% - 10px) calc(50% - 10px);
            
            grid-template-areas:
                'featured featured'
                'work2 work3';
            @media screen and (max-width:840px){
                grid-template-columns: 100%;
                grid-template-areas: 'featured' 'work2' 'work3';
            }

                

            .work{
                /* width: 100%; */
                height: fit-content;
                min-height: 520px;
                position: relative;
                z-index: 0;
                display: flex;
                flex-direction: row;
                align-items: center;
                @media screen and (max-width:600px){
                    margin: 10px 0;
                    flex-direction: column;
                    justify-content: stretch;

                }

                .work-desc{
                    position: relative;
                    width: 50%;
                    min-width: 200px;
                    display: flex;
                    flex-direction: column;
                    justify-content:space-between;
                    align-items: stretch;
                    padding: 50px;
                    z-index: 2;
                    @media screen and (max-width:600px){
                        width: 100%;
                        height: fit-content;
                    }

                    .work-client{
                        font-size: 14px;
                        text-transform: uppercase;
                        letter-spacing: 1px;
                        margin-left: 15px;
                        width: fit-content;
                        &::before{
                            content: "";
                            width: 10px;
                            height: 2px;
                            background-color: #fff;
                            position: absolute;
                            left: -15px;
                            top: 50%;
                            // bottom: -10px;
                            display: block;
                        }
                    }
                    .work-title{
                        margin: 10px 0;
                        color: inherit;
                    }
                    .work-content{
                        margin: 10px 0;
                        color: inherit;
                    }
                    .work-link{
                        margin-top: 20px;
                        margin: 10px 0;
                        color: inherit;
                        // display: none;
                        .link-uline{
                            stroke: #fff;
                        }
                    }
                    .work-link-mobile{
                        display: none;
                    }
                    
                }

                .work-image-holder{
                    width:50%;
                    height: 100%;
                    
                    top: 0;
                    z-index: 1;
                    @media screen and (max-width:600px){
                        width: 100%;
                        min-height: 400px;
                        height: fit-content;
                    }

                    img{
        
                        width: 100%;
                        // top: 50%;
                        // transform: translateY(-50%);
                        right: 0;
                        position: relative;
                        filter: url(#drop-shadow);
                    }
                }
            }
            .work-1{
                background-color: #23234c;
                grid-area: featured;
                .work-image-holder{
                    width: 50%;
                    height: calc(100% - 160px);
                    min-height: 500px;
                    position: relative;
                    text-align: center;
                    img{
                        position: absolute !important;
                        height: 100% !important;
                        width: auto !important;
                        left: 0;
                        right: 0;
                        margin: auto;
                    }
                    
                }
                
                @media screen and (min-width:1025px){
                    padding: 0;
                    height: 680px;
                    .work-desc{
                        width: 50%;
                    }

                    .work-title{
                        font-size: 38px;
                        line-height: 40px;
                    }
                    .work-image-holder{
                        width: 50%;
                        height: calc(100% - 160px);
                        min-height: 500px;
                        position: relative;
                        
                    }
                }
                @media screen and (min-width:1025px){
                    padding: 0 60px;
                }
            }
            .work-2{
                grid-area: work2;
                background-color: #FF5757;
            }
            
            .work-3{
                grid-area: work3;
                background-color: #F8B817;
                .work-client, .work-title, .work-content, .work-link{
                    color: #333 !important;
                    .link-uline{
                        stroke: #333 !important;
                    }
                }
                .work-client::before{
                    background-color: #000 !important;
                }
            }
        }
        
    }
    
}



.shots{
    position: relative;
    width: 100%;
    /* opacity: 0; */
    /* transition: all .3s .5s ease; */
    
    .shots-container{
        position: relative;
        padding: 100px 0;
        overflow: hidden;

        .shots-head{
            color: #fff;
            text-align: center;
            margin: 20px 0;
            font-size: 24px;
        }
    
        .shots-row{
            position: relative;
            width: fit-content;
            height: 280px;
            padding: 10px 0;
            display: flex;
            flex-direction: row;
            align-items: stretch;
            @media screen and (max-width:480px){
                height: 200px;
            }
        
            .shots-item{
                position: relative;
                width: 380px;
                background: rgba(200,200,200,0.15);
                margin: 0 10px;
                height: 100%;
                overflow: hidden;
                @media screen and (max-width:480px){
                    width: 240px;
                }

                img{
                    width: 100%;
                    top: 50%;
                    transform: translateY(-50%);
                }
            }
        }
    }
}



.expertise{
    width: 100%;
    height: 100vh;
    .expertise-container{
        display: grid;
    
    }
}



.blogs{
    position: relative;
    width: 100%;
    max-width: 1100px;
    left: 0;
    right: 0;
    margin: auto;
    /* opacity: 0; */
    /* transition: all .3s .5s ease; */
    .blogs-container{
        position: relative;
        padding: 100px 10px;
        height: fit-content;
        .blogs-list{
            display: grid; 
            grid-gap: 40px;
            grid-template-columns: 1fr 1fr;
            // grid-template-columns: 50% calc(50% - 40px);
            // grid-template-areas:
            //     'featured blog1'
            //     'featured blog2'
            //     'featured blog3';
            @media screen and (max-width:480px){
                grid-template-columns: 100%;
                grid-template-areas:
                    'featured' 'blog1' 'blog2' 'blog3';
            }
            .blog{
                .blog-image{
                    overflow: hidden;
                    background-color: #382fc5;
                    img{
                        position: absolute;
                        height: 100%;
                        left: 50%;
                        transform: translateX(-50%);
                    }
                }
                .blog-desc{
                    .blog-title{ 
                        font-size: 16px;
                        font-size: 16px;
                        line-height: 24px;
                        margin: 20px 0 6px;
                        @media screen and (max-width:480px){
                            font-size: 14px;
                            line-height: 20px;
                            font-weight: 400;
                        }
                    }
                    .blog-cont{ 
                        font-size: 14px;
                        margin: 6px 0;
                        font-weight: 300;
                        @media screen and (max-width:768px){
                            display: none;
                        }
                    }

                }
            }
            // .blog-1{
            //     grid-area: featured;
            // }
            // .blog-2{
            //     grid-area: featured;
            // }
            .blog-3{
                grid-area: blog2;
            }
            .blog-4{
                grid-area: blog3;
            }

        }
    }
}


.blog-2,
.blog-3,
.blog-4{
    display: grid;
    grid-template-columns: 100px auto;
}

.blog-1 .blog-image{
    height: 260px;
    overflow: hidden;
}

.blog-1 .blog-title
{ margin: 30px 0 6px;}




.enquiry{
    padding: 60px 0;
    padding-bottom: 0;
    height: auto;
    min-height: 800px;
    scroll-snap-align: start;
    display: flex;
    flex-direction: column;
    justify-content: center;

    h3, h4, p{
        color: #fff;
    }
    .enquiry-now{
        display: flex;
        flex-direction: column;
        align-items:center;
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;

        .enquiry-head{
            h3{
                font-size: 72px;
                text-align: center;
                line-height: 4.6rem;
                margin: 0 auto;
                
                @media screen and (max-width:768px){
                    font-size: 60px;
                    line-height: 65px;
                }
                @media screen and (max-width:480px){
                    // font-family: 'Bebas', Arial, sans-serif;
                    font-size: 40px;
                    line-height: 45px;
                }
            } 
        }
        .section-desc{
            p{
                font-weight: 300;
                text-align: center;
                margin: 20px;
                opacity: 0.7;
            }

        }
        .enquiry-form{
            width: 100%;
            max-width: 420px;
            z-index: 1;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 20px 0;
            @media screen and (max-width:600px){
                max-width: 600px;
            }
            form{
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 100%;
            }
            input{
                background: #0005;	
                border: 1px solid #000;
                border-radius: 5px;
                // box-shadow: 0 2px 0 #000;
                font-size: 14px;
                color: #fff;
                display: block;
                margin: 10px;
                padding: 12px 20px;
                text-shadow: 0 -1px 0 #000;
                width: 100%;
                
            }
            input::placeholder{
                color: #fff8;
            }
            input:focus {
                animation: glow 1.5s ease-out infinite alternate;
                border-width: 1px;
                border-color: rgb(169, 50, 255);
                box-shadow: 0 0 5px rgba(0,255,0,.2), inset 0 0 5px rgba(0,255,0,.1), 0 2px 0 #000;
                color: #efe;
                outline: none;
            }
            @keyframes glow {
                0% {
                    border-color: #70Ca;
                    box-shadow: 0 0 5px #70c4, inset 0 0 5px #70c4;
                }	
                100% {
                    border-color: #70Cf;
                    box-shadow: 0 0 40px #70Cf, inset 0 0 20px #70Cf;
                }
            }
            button {
                color: #fff;
                font-size: 14px;
                position: relative;
                border: none;
                padding: 15px 15px;
                background: #39185c;
                border-radius: 10px;
                font-weight: bold;
                cursor: pointer;
                margin: 10px;
                transition: all 0.5s ease-in-out;
                text-transform: uppercase;
                letter-spacing: 1px;
            }

            button::after {
                content: "";
                position: absolute;
                top: -20px;
                left: calc(var(--x, 0) * 1px - 40px);
                width: 80px;
                height: 80px;
                background: radial-gradient(#2dff, #2df0 80%);
                z-index:-1;
                opacity: 0;
                filter: blur(20px);
                transition: opacity 0.4s ease-in-out;
                
            }
            button::before {
                content: "";
                position: absolute;
                content: '';
                top: -2px;
                left: -2px;
                height: calc(100% + 4px);
                width: calc(100% + 4px);
                border-radius: 5px;
                z-index: -1;
                opacity: 0;
                filter: blur(5px);
                background: linear-gradient(to right, #70C, #0DE, #0DE, #70C);
                transition: all 0.5s ease-in-out;
            }
            button:hover {
                background:#000;
                color:#fff;
                box-shadow:0 0 3px #0DE6;
                // transform: scale(1.2);
            }
            button:hover::after {
                opacity: 0.4;
            }

            button:hover:before {
                opacity: 0.6;
                filter: blur(20px);
            }

            button:hover:active {
                background: #fff
            }

            button:hover:active::before {
                filter: blur(2px)
            }          
        }
        @media screen and (max-width:600px){
            flex-direction: column;
            padding: 30px;
        }
    }
    .enquiry-submit{
        width: 100%;
        max-width: 600px;
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        left: 0;
        right: 0;
        margin: auto;
        

        .enquiry-submitting{
            opacity: 0;
            width: 100%;
            
        }
        .enquiry-submitted{
            opacity: 0;
            width: 100%;

            h3{
                margin: 20px 0;
            }
            .work-link{
                left: 0;
                right: 0;
                margin: auto;
                .link-uline{
                    stroke: #fff;
                }
            }
            
        }
        .enquiry-loading{
            margin: 20px 0;
            display: flex;
            opacity: 0;
            span{
                width: 8px;
                height: 8px;
                background: #fff;
                margin: 3px;
                border-radius: 50%;
            }
        }
    }
}



.footer{
    position: relative;
    padding: 40px 20px;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: stretch;
    border-top: 1px solid #fff2;
    color: #fff;
    a{
        padding: 5px 10px;
        font-size: 14px;
            color: #fff;
            img{
                filter:invert(100%)
            }
    }
    a::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        height: 2px;
        width: 10%;
        background-color: transparent;
        top: 120%;
        transition: all .2s ease;
    }
    a:hover::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        height: 4px;
        width: 4px;
        background-color: #30f9dd;
        top: 120%;
        transition: all .2s ease;
    }
    .copyrights{
        font-size: 12px;
    }
}



.container{  
    left: 0;
    right: 0;
    margin:auto;
    padding-left: 40px;
    padding-right: 40px;
    /* max-width: 1100px; */
}
.container-full{
    width: 100%;
    left: 0;
    right: 0;
    margin:auto;
}


/*1024 - 1600*/
@media screen and (min-width:1024px) and (max-width:1600px){
    
}


/*769-1023*/
@media screen and (min-width:769px) and (max-width:1023px){
    .hero-container{
        position: relative;
    }
}


/*481-768*/
@media screen and (min-width:481px) and (max-width:768px){

}


/*0-480*/
@media screen and (max-width:480px){
    .container{
        padding: 100px 20px;
    }
    .header-container{
        justify-content: space-between;
        padding: 0;
    }
   
    .header .header-menu-icon.close div:first-child{
        transform: rotate(315deg) translate(-3px, 3px);
    }
    .header .header-menu-icon.close div:last-child{
        transform: rotate(45deg) translate(-3px, -3px);
    }


    .header .header-menu.open{
        transform: translate(0, 0);
    }
    .header .header-menu ul{
        flex-direction: column;
        margin: 0; 
    }
    

  
    .header .header-menu.open
    .header .header-menu ul{
        font-size:24px;
        font-weight: 500;
    }
    .header .header-menu .btn{
        background: #fff2;
    }
    .header .header-menu .btn a{
        color: #fff;
    }
    .header-container.open .header-logo{
        filter: invert(100%) !important;
    }
    .header-container.open .header-menu-icon div{
        background: #fff !important;
    }
    .hero{
        height: auto;
    }
    .hero-container{
        flex-direction: column;
        height: auto;
        padding-top: 0;
    }
    
    .hero-details{
        top: 0;
        margin:0;
        margin-bottom: 40px;
        transform: translateY(0);
        width: 100%;
        text-align: center;
    }
    .hero-logo {
        margin: 5px 0;
        margin-bottom: 80px;
    }
    // .hero-logo img {
    //     width: 120px;
    // }
    // .hero-logo span{
    //     font-size: 14px;
    // }
    // h1.hero-name{
    //     width: 100%;
    //     margin: 14px 0;
    //     font-family: 'Poppins', Arial, sans-serif;
    //     font-size: 52px;
    // line-height: 48px;
    // letter-spacing: -1px;
    //     display: flex;
    //     flex-direction: column;
    //     text-align: center;
    // }
    // h1.hero-name  span{
    //     font-family:inherit;
    //     font-size: inherit;
    //     line-height: inherit;
    //     /* display: block;
    //     float:left; */
    // }
    // .roles{
    //     height: 52px;
    // }
    // .role1, .role2, .role3{
    //     left: 50%;
    // transform: translateX(-50%);
    // }
    // .hero-desc h2{
    //     font-size: 16px;
    //     line-height: 23px;
    //     padding: 0;
    //     width: 100%;
    //     left: 0;
    //     right: 0;
    //     margin: auto;
    // }

    .hero-artwork{
        width: 100%;
        height: 500px;
    }

    .bio-summary {
        font-size: 26px;
        line-height: 36px;
    }
    .bio-figures {
        flex-direction: column;
        width: fit-content;
    }
    .work{
        margin: 10px 0;
        flex-direction: column;
        justify-content: stretch;
    }
    .works-head{
        margin: 50px 0;
    }
    .work-image-holder{
        width: 100%;
    }
    .work-image-holder img{
        top: 0;
        transform: translateY(0%);
    }
    .work-desc{
        width: calc(100% - 80px);
        padding: 40px;
        flex-direction: column;
    }
    .work-row-2{
        flex-direction: column;
    }
    .work-2, .work-3{
        width:100%
    }

    .work-title {
        font-size: 24px;
        line-height: 32px;
        margin: 10px 0;
    }
    .work-content{
        font-size: 14px;
        margin: 10px 0;
    }
    .work-link{
        display: none;
    }
    .work-link-mobile{
        display: block;
        margin: 10px 0;
    }

    .shots-row{
        height: 160px;
    }
    .shots-item{
        width: 240px;
    }
        
    .blogs-box {
        flex-direction: column;
    }
    .blogs-left {
        width: 100%;
    }
    .blogs-right {
        width: 100%;
        margin-left: 0;
    }
   


    .footer .socials{
        font-size: 14px;
    }
    
    .footer .copyrights{
        font-size: 12px;
    }

}



/*projects page*/
.project-container{
    width: 100%;
    display: grid;
    justify-content: center;
    margin: 0;
    padding:60px 0;
}
.project-row{
    width:calc(100% - 40px);;
    /* margin: 20px; */
    /* padding: 20px; */
    display: flex;
    flex-direction: row;
    @media screen and (max-width:760px){
        flex-direction: column;
    }
    .align-center{
        justify-content: center;
    }
}

.project-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin:0 20px;
    
}

.project-column h3, .project-column h4,.project-column h5,.project-column h6,.project-column p, .project-column a, .project-column b, .project-column li{
    margin: 12px 0;
}
// .project-column h4,.project-column h5{
//     margin-bottom:8px;
// }
.project-column p, .project-column li, .project-column a{
    font-size: 14px;
    opacity: 0.8;
    @media screen and (max-width:480px){
        font-size: 12px;
    }
} 
.project-column ul{
    margin-left: 20px;
}
.project-column img{
    width: 100%;
    margin: 40px 0 60px;
    &.img-full{
        width: calc(100% + 100px);
        margin: 40px -50px 60px;
        @media screen and (max-width:960px){
            width: calc(100% + 40px);
            margin: 40px -20px 60px;
        }
    }
}

.h-full{
    padding-top: 0;
    padding-bottom: 0;
}
.w-full{
    width:100%
}
.w-container{
    max-width: 960px;
}
.w-30{
    width:30%;
    @media screen and (max-width:760px){
        width: 100%;
    }
}
.w-40{
    width:40%;
    @media screen and (max-width:760px){
        width: 100%;
    }
}
.w-50{
    width:50%;
    @media screen and (max-width:760px){
        width: 100%;
    }
}
.w-60{
    width:60%;
    @media screen and (max-width:760px){
        width: 100%;
    }
}
.w-70{
    width:70%;
    @media screen and (max-width:760px){
        width: 100%;
    }
}
.w-100{
    width:100%;
}
.flex-column{
    flex-direction: column;
}
.flex-reverse{
    flex-direction: row-reverse;
    @media screen and (max-width:760px){
        flex-direction: column;
    }
}
.justify-top{
    justify-content: flex-start;
}
.align-center{
    align-items: center;
    text-align: center;
}
.al-self-c{
    align-self: center;
}
.ml-20{
    margin-left: 20px !important;
}

.no-bold{
    font-weight:400 !important;
}
.img-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    // grid-template-rows: auto auto;
    grid-gap: 10px;
    @media screen and (max-width:768px){
        grid-template-columns: 1fr;
    }
    img{
        margin: 0;
    }

}

.project-cover{
    margin-top:0;
    padding:0;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    text-align: center;
    img{
        width:100%
    }
    .project-row{
        justify-content: center;
        height: 100%;
    }
    .project-column{
        margin:0;
        justify-content: center;
        width: 100%;
        height: 100vh;
        
        
    }
    h1{
        color: #fff;
        z-index: 1;
    }
    .project-cover-bg{
        position:absolute; 
        height: 100%; 
        width: 100%; 
    }
    .scroll-indicator{
        position: absolute;
        bottom: 0;
        z-index: 9;
        left: 0;
        right: 0;
        margin: auto;
        display: flex;
        width: fit-content;
        flex-direction: column;
        align-items: center;
        p{
            color: #fff;
        }
        span{
            width: 1px;
            height: 40px;
            background: #fff;
        }
    }
}



/* foodmates custom */


@media screen and (max-width:480px){
    .project-row{
        flex-direction: column;
    }
    .project-row .project-column{
        width: 100%;
    }
}


.page-foodmates{
    background: #fff;
    .bg-shade{
        background: #e0f1ff;
    }
    .img-shade{
        background-color: #f1fbff;
    }
    .sec-what{
        .list{
            display: grid;
            grid-template-columns: 40px auto;
            margin-top: 40px;
            grid-gap: 10px;
            h4, h6, p{
                margin: 8px 0;
            }
        }
        img{
            @media screen and (max-width:760px){
                max-width: 420px;
                align-self: center;
            }
        }
    }
    .sec-flows{
        img{
            background: #eef7ff;
            padding: 30px;
            
        }
    }
    .sec-ui{
        h4{
            margin-bottom: 80px;
        }
        h6{
            font-size: 18px;
            font-weight: 600;
        }
        label{
            font-size: 12px;
            text-transform: uppercase;
            font-weight: 600;
            &.label-1{
                color: #2AB46F;
            }
            &.label-2{
                color: #FF8843;
            }
            &.label-3{
                color: #54ACE8;
            }
        }
        span{
            width: 2px;
            height: 20px;
            background: #0002;
        }
        img{
            width: 130%;
            left: 50%;
            transform: translateX(-50%);
            margin: 0;

            @media screen and (max-width:760px){
                max-width: 420px;
                align-self: center;
            }
            
        }
       
    }
    .sec-proccu{
        h6{
            span{
                &::after{
                    content: "";
                    background: #FF8843;
                    width: 100%;
                    height: 1px;
                    position: absolute;
                    left: 0;
                    bottom: 0px;
                }
            }

        }
        
    }
    .sec-uxe{
        .desc{
            padding: 0 60px;
            @media screen and (max-width:760px){
                padding: 40px 0;
            }
            label{
                font-size: 12px;
                font-weight: 600;
                text-transform: uppercase;
                margin-bottom: 10px;
                color: #2AB46F;
            }
            
        }
        img{
            @media screen and (max-width:760px){
                max-width: 420px;
                align-self: center;
            }
        }
    }
    .sec-kmr{
        .container{
            justify-self: flex-start;
            align-self: flex-start;
            width: calc(((100% - 960px) / 2) + 960px);
            margin: 0;
            // margin-left: calc((100% - 960px) / 2);
            left: 0;
        }
    }
    .sec-ds{
        .project-row{
            align-items: start;
            margin-bottom: 40px;
        }
        h2{
            font-size: 40px;
        }
        p{
            font-size: 18px;
        }
        img{
            padding: 50px;
            background: #e0f1ff;
        }
    }
    .sec-icon{
        h6{
            margin-bottom: 10px;
            color: #2AB46F;
        }
        span{
            width: 20px;
            height: 2px;
            background: #2AB46F;
            margin: 20px 0;
        }
    }
}


.page-unibook{
    background: #fff;

    .bg-shade{
        background: #FFF8F1;
    }

    .img-shade{
        background-color: #FFF8F1;
    }
    

    .sec-docs{
        h6{
            margin-bottom: 80px;
            max-width: 500px;
        }
        span{
            padding: 3px 15px;
            border-radius: 20px;
            color: #fff;
            width: 40px;
            height: 30px;
            font-weight: 600;
            text-align: center;
        }
        .project-column:first-child span{
            background: #FC746F;
        }
        .project-column:last-child span{
            background: #FFC95D;
        }
        p{
            b{
                font-size: 16px;
                color: #000;
            }
        }
    }
    .sec-ds{
        .project-row{
            align-items: start;
            margin-bottom: 40px;
        }
        h2{
            font-size: 40px;
        }
        p{
            font-size: 18px;
        }
        img{
            padding: 50px;
            background: #fffaee;
        }
    }
}



.page-works{
    .cover{
        padding: 200px 0;
        padding-bottom: 20px;
        padding-left: 40px;
    }
    .works-list-1{
        display: grid;
        grid-gap: 20px;
        grid-template-rows: repeat(4, 400px);
        grid-template-columns: repeat(4, 1fr);
        @media screen and (max-width:480px){
            grid-template-columns: repeat(2, 1fr);
        }
        
        .work{
            width: 100%;
            height: 100%;
            font-size: 60px;
            padding: 20px 30px;
            box-sizing: border-box;
            overflow: hidden;
            color: #fff;
            text-transform: unset;
            transition: all .5s ease-in-out;
            &:hover{
                transform: scale(0.95);
            }
            &:hover img{
                transform: scale(1.1);
            }
            
            .work-details{
                position: absolute;
                top: 0;
                left: 0;
                padding: 30px;
                color: inherit;
                z-index: 2;
                text-shadow: 2px 2px 8px #0004;
                h5{
                    color: inherit;
                    letter-spacing: 0px;
                }
                p{
                    color: inherit;
                    letter-spacing: 0px;
                }
            }
            img{
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                z-index: 1;
                transition: inherit;
            }
        }
        .work-1 {
            
            background: #09b0d4;
        }
        .work-2 {
            
            background: #c1cc70;
        }
        .work-3 {
        
            background: #f35e7b;
        }
        .work-4 {
            
            background: #f7c05b;
        }
        .work-5 {
            background: #fc96a3;
        }
        .work-6 {
            background: #e8c257;
        }
        .work-7 {
            background: #f2eecb;
        }
        .work-8 {
            background: #6bb383;
        }
        
        /* span でもセル何個か定義できる */
        .work-1 {
            grid-row: span 2;
            grid-column: span 2;
        }
        .work-2 {
            grid-column: span 2;
        }
        .work-3 {
            grid-column: span 2;
        }
        .work-5 {
            grid-column: span 2;
        }
        .work-7 {
            grid-column: span 2;
        }
        .work-8 {
            grid-column: span 2;
        }
        
  
    }

}

.page-blogs{
    .cover{
        padding: 200px 0;
        padding-bottom: 20px;
        padding-left: 40px;
    }
    .blogs{
        width: 100%;
        max-width: 100%;
        padding: 0 20px;
    }
}