*, body{
    margin: 0;
    padding: 0;
    position: relative;
    font-family: "Poppins", Arial, sans-serif;
    transition: all 0.5s cubic-bezier(0.71, 0.01, 0.13, 1.03), color 0s ease;
/*    scroll-behavior: smooth;*/
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
}
*::-webkit-scrollbar {
display: none;
}
h1{
    font-family: "Syncopate", "Arial", sans-serif;
    font-size: 72px;
    font-weight: 700;
}
h3, .heads p{
    font-size: 40px;
    line-height: 50px;
    margin: 20px 0;
    font-family: "Syncopate";
    font-weight: 700;
    width: 100%;
    text-transform: uppercase;
}
p{
    font-family: "Poppins", Arial, sans-serif;
    font-size: 16px;
}
a{
    color: #1b1486;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-decoration: none;
    transition: all .4s cubic-bezier(0.21, 0.05, 0, 1.01);
    
}
a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 100%;
    background-color: #30f9dd;
    top: 120%;
    transition: all .2s ease;
}
a:hover{
    letter-spacing: 4px;
}
/*
a:hover::after{
   top: 100%; 
}
*/
.btn{
    background: transparent;
    border: 2px solid #30f9dd;
    color: #1b1486;
    padding: 15px 20px;
    width: fit-content;
    overflow: hidden;
}
.btn:hover, .btn a:hover{
    letter-spacing: 2px;
}
.btn a::after{
    background: transparent;
}
.btn::after{
    background-color: #30f9dd;
    content: "";
    position: absolute;
    transform: skewX(20deg);
    top: 0%;
    bottom: 0;
    left: -125%;
    height: 100%;
    width: 115%;
    z-index: -2;
    transition: all .8s cubic-bezier(0.2, 0, 0, 1); 
}

.btn:hover::after, .btn a:hover::after{
    transform: skewX(-20deg);
    left: -5%;
}



.header{
/*    display: none;*/
    display: inline-block;
    position: fixed;
     display: flex;
    flex-direction: row;
    padding: 10px 0;
    z-index: 9999;
    background: #fff;
    visibility: hidden;
    transition: all .4s cubic-bezier(0.21, 0.05, 0, 1.01);
    
}
.header .header-menu{
    display: flex;
    flex-direction: row;
    width: calc(100% - 226px);
    justify-content: space-between;
}

.header .header-menu ul{
    list-style-type: none;
    margin-left: 20px;
    font-size: 12px;
    text-transform: uppercase;
    display: flex;
    flex-direction: row;
}

.header .header-logo{
    padding: 0 20px;
    opacity: 0;
    transition: all .4s cubic-bezier(0.21, 0.05, 0, 1.01);
    z-index: 2;
}
.header li{
    display: inline-block;
    padding: 18px 10px;
    transform: translateY(-60px);
    transition: transform .4s cubic-bezier(0.2, 0.0, 0, 1.0);
}
.header li:nth-child(1){
    transition-delay: 0s;
}
.header li:nth-child(2){
    letter-spacing: 2px;
    transition-delay: 0.3s;
}
.header li:nth-child(3){
    transition-delay: 0.6s;
}
.header li:nth-child(4){
    transition-delay: 0.9s;
}
.header-cta{
    /* position: absolute;
    right: 20px; */
}



.header.show{
    visibility: visible;
}
.header.show .header-logo{
    opacity: 1;
}
.header.show li{
    transform: translateY(0);
}




.hero{
    position: relative;
    width: 100%;
    height: 100vh;
    left: 0;
    right: 0;
    opacity: 0;
    transition: all .3s .5s ease;
}

.hero-container{
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: stretch;
}
.hero-details{
    position: relative;
    left: 0;
    width: 45%;
    height: fit-content;
    z-index: 10;
    top: 50%;
    transform: translateY(-50%);
}
.hero-logo{
    margin: 40px 0;
    display: flex;
    align-items: center;
}
.hero-logo img{
    /* margin: 20px 0; */
}
.hero-logo span{
    top: 50%;
    transform: translate(0px, 20%);
    margin-left: 6px;
    color: #0003;
}
.hero-logo:last-child{
    color: #0008;
}

.hero-name h1, .hero-name-special{
    line-height: 56px;
    letter-spacing: -4px;
    font-size: 0;
    margin: 20px 0;
    width: 150%;
    text-transform: uppercase;
}
.hero-name-special{
    font-family: "Syncopate", "Arial", sans-serif;
    font-size: 72px;
    font-weight: 700;
    letter-spacing: -16px;
    margin: 0;
}
.hero-name h1 span, .hero-name-special span{
    font-family: inherit;
    font-size: 88px;
    transition: all 0.2s ease-in;
    display: inline-block;
    transition: transform 2s .6s cubic-bezier(0.2, 0.0, 0, 1.0);
}
.hero-desc h2{
    font-size: 22px;
    line-height: 29px;
    font-weight: 300;
    margin: 20px 0;
    padding-right: 20px;
}
.hero-cta{
    margin-top: 40px;
}
.hero-cta a{
    margin-top: 40px;
    text-decoration: none;
}
.hero-artwork{
    position: relative;
    width: 55%;
    height: 100%;
    z-index: 5;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.hero-artwork img{
    /* width: 100%; */
    height:700px;
}
.hero-artwork .play-button{
    bottom: 0;
    left: 0;
    position: absolute;
    margin: 20px;
    color: #fff;
    display: flex;
    align-items: center;
}

.hero-artwork .play-button .play{
    width: 30px;
    height: 30px;
    background-color: #0000;
    border: 2px solid #ccc;
    margin-right: 20px;
}

.hero-image-holder{
    width: auto;
    height: 100%;

    overflow: hidden;
}
.hero-image-holder img{
    /* height: 100%; */
    height:100%;
}
.hero-image-holder p{
    position: absolute;
    right: 10px;
    bottom: 10px;
    font-size: 10px;
    color: rgba(255,255,255,0.7);
}

.hero-image-holder a{
    color: rgba(255,255,255,0.9);
}


.bio{
    position: relative;
    width: 100%;
    opacity: 0;
    transition: all .3s .5s ease;
}
.bio-container{
    position: relative;
    padding: 200px 0;
    text-align: center;
    
}
.bio-head{
    position: relative;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #fff;
}
.bio-head::after{
    position: absolute;
    content: "";
    width: 30px;
    height: 8px;
    top: 200%;
    left: 50%;
    background: #30f9dd;
    transform: translateX(-50%) skewY(-15deg);
}
.bio-head p{
    font-size: 12px;
}

.bio-summary{
    font-family: 'Syncopate';
    font-size: 32px;
    line-height: 46px;
    text-align: center;
    color: #fff;
    padding: 20px 0;
    margin-top: 60px;
}
.bio-figures{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    max-width: 540px;
    left: 0;
    right: 0;
    margin: auto;
    margin-top: 50px;
}
.bio-fig-item{
    display: flex;
}
.bio-fignum{
    font-size: 32px;
    
}
.bio-figtxt{
    font-size: 14px;
    padding: 12px 0;
    padding-left: 50px;
}
.bio-figtxt::before{
    position: absolute;
    content: "";
    height: 1px;
    width: 20px;
    background: #fff;
    left: 10%;
    top: 50%;
    transform: translateY(-50%);
}





.works{
    position: relative;
    width: 100%;
    opacity: 0;
    transition: all .3s .5s ease;
}
.works-container{
    position: relative;
    padding: 100px 0;
}
.works-head{
    margin: 60px 40px;
}
.work-row-2{
    width: 100%;
    display: flex;
    align-content: space-between;
    flex-direction: row;
}
.work{
    /* width: 100%; */
    height: 600px;
    margin: 10px; 
    position: relative;
    z-index: 0;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}
.work-image-holder{
    width:70%;
    height: 100%;
    overflow: hidden;
    /* background-color: #2ab46f; */
    /* position: absolute; */
    top: 0;
    z-index: 1;
}
.work-image-holder img{
    
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    position: absolute;
}
.work-desc{
    position: relative;
    width: 30%;
    min-width: 200px;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items: stretch;
    padding: 50px;
    z-index: 2;
}

.work-title{
    font-size: 32px;
    line-height: 40px;
    font-weight: 500;
    margin: 10px 0;
}
.work-content{
    margin: 10px 0;
}
.work-link{
    margin-top: 20px;
    margin: 10px 0;
    color: #fff;
}
.work-link-mobile{
    display: none;
}

.work-1{
    margin-top: 0;
    background-color: #2ab46f;
}
.work-2{
    width: 50%;
    background-color: #FF5757;
}

.work-3{
    width: 50%;
    background-color: #F8B817;
}
.work-3 .work-title, .work-3 .work-content, .work-3 .work-link{
    color: #333 ;
}



.shots{
    position: relative;
    width: 100%;
    opacity: 0;
    transition: all .3s .5s ease;
}
.shots-container{
    position: relative;
    padding: 100px 0;
    overflow: hidden;
}
.shots-row{
    position: relative;
    width: fit-content;
    height: 280px;
    padding: 10px 0;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    transition-timing-function: ease-out;
}
.shots-item{
    position: relative;
    width: 380px;
    background: rgba(200,200,200,0.15);
/*    float: left;*/
    margin: 0 10px;
    height: 100%;
    overflow: hidden;
}
.shots-item img{
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
}
.shots-row-2{
    left: -3000px;
}





.blogs{
    position: relative;
    width: 100%;
    opacity: 0;
    transition: all .3s .5s ease;
}
.blogs-container{
    position: relative;
    padding: 100px 0;
    height: fit-content;
}
.blogs-head{
    margin: 60px 40px;
}

.blogs-box{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: stretch;
}
.blogs-left{
    width: 50%;
}
.blogs-right{
    position: relative;
    width: 50%;
    height: 100%;
    margin-left: 60px;
    display: flex;
    flex-direction: column;
}
.blog-1{
    height: 100%;
    width: 100%;
}
.blog-2,
.blog-3,
.blog-4{
    height: 50%;
    width: 100%;
    /* width: calc(100% - 80px); */
    display: flex;
}

.blog-1 .blog-image{
    width: 100%;
    height: 260px;
    background-color: #382fc5;
}

.blog-2 .blog-image, .blog-3 .blog-image, .blog-4 .blog-image{
    width: 150px;
    background-color: #382fc5;
    
}

.blog-desc .blog-title{
    font-size: 24px;
    line-height: 30px;
    font-weight: 500;

}
.blog-2, .blog-3{
    border-bottom: 1px solid rgba(175, 175, 175, 0.3);
}
.blog-2, .blog-3, .blog-4{
    padding: 20px 0;
}

.blog-1 .blog-title
{ margin: 30px 0 20px;}

.blog-2 .blog-title, .blog-3 .blog-title, .blog-4 .blog-title
{ 
    font-size: 18px;
    line-height: 20px;
    margin: 0 0 10px 20px;
}
.blog-2 .blog-cont, .blog-3 .blog-cont, .blog-4 .blog-cont
{ 
    font-size: 14px;
    margin: 10px 0 0 20px;
    font-weight: 300;
}


.footer{
    position: relative;
    padding: 40px 0;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: stretch;
    border-top: 1px solid rgba(175, 175, 175, 0.3);
}
.footer a{
    padding: 5px 10px;
    font-size: 14px;
}
.footer a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 10%;
    background-color: transparent;
    top: 120%;
    transition: all .2s ease;
}
.footer a:hover::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 4px;
    width: 4px;
    background-color: #30f9dd;
    top: 120%;
    transition: all .2s ease;
}

.footer .copyrights{
    font-size: 12px;
}


.container{
    
    left: 0;
    right: 0;
    margin:auto;
    padding-left: 40px;
    padding-right: 40px;
}
.container-full{
    width: 100%;
    left: 0;
    right: 0;
    margin:auto;
}


.background-black{
    background: #000;
    color: #fff;
}
.background-black a{
    color: #fff !important;
}

.background-turq{
    background: #1b1486;
    color: #30f9dd;
}
.background-turq a{
    color: #30f9dd;
}
.background-turq a:hover{
    color: #1b1486;
}
.appear{
    opacity: 1;
    transition-delay: 0.4s;
}
.char-1{
    transform: translateY(-30px);
}
.char-2{
    transform: translateY(-50px);
}
.char-3{
    transform: translateY(-36px);
}
.char-4{
    transform: translateY(-60px);
}
.char-5{
    transform: translateY(-44px);
}
.char-6{
    transform: translateY(-70px);
}
.char-7{
    transform: translateY(-52px);
}
.char-8{
    transform: translateY(-40px);
}
.char-9{
    transform: translateY(-36px);
}
.char-10{
    transform: translateY(-55px);
}
.char-11{
    transform: translateY(-35px);
}
.char-12{
    transform: translateY(-70px);
}
.char-13{
    transform: translateY(-35px);
}
.char-14{
    transform: translateY(-50px);
}
.char-15{
    transform: translateY(-40px);
}
.char-16{
    transform: translateY(-20px);
}
.char-17{
    transform: translateY(-36px);
}
.char-18{
    transform: translateY(-60px);
}
.char-19{
    transform: translateY(-44px);
}
.char-20{
    transform: translateY(-70px);
}
.char-21{
    transform: translateY(-52px);
}
.char-22{
    transform: translateY(-40px);
}
.char-23{
    transform: translateY(-36px);
}

.appear .char-1{
    transform: translateY(0px);
}
.appear .char-2{
    transform: translateY(0px);
}
.appear .char-3{
    transform: translateY(0px);
}
.appear .char-4{
    transform: translateY(0px);
}
.appear .char-5{
    transform: translateY(0px);
}
.appear .char-6{
    transform: translateY(0px);
}
.appear .char-7{
    transform: translateY(0px);
}
.appear .char-8{
    transform: translateY(0px);
}
.appear .char-9{
    transform: translateY(0px);
}
.appear .char-10{
    transform: translateY(0px);
}
.appear .char-11{
    transform: translateY(0px);
}
.appear .char-12{
    transform: translateY(0px);
}
.appear .char-13{
    transform: translateY(0px);
}
.appear .char-14{
    transform: translateY(0px);
}
.appear .char-15{
    transform: translateY(0px);
}
.appear .char-16{
    transform: translateY(0px);
}
.appear .char-17{
    transform: translateY(0px);
}
.appear .char-18{
    transform: translateY(0px);
}
.appear .char-19{
    transform: translateY(0px);
}
.appear .char-20{
    transform: translateY(0px);
}
.appear .char-21{
    transform: translateY(0px);
}
.appear .char-22{
    transform: translateY(0px);
}
.appear .char-23{
    transform: translateY(0px);
}

/*1024 - 1600*/
@media screen and (min-width:1024px) and (max-width:1600px){
    .container{
        /* max-width: 960px; */
    }
}


/*769-1023*/
@media screen and (min-width:769px) and (max-width:1023px){
    .hero-container{
        position: relative;
    }
}


/*481-768*/
@media screen and (min-width:481px) and (max-width:768px){
    h1{
        font-size: 52px;
    }
    .hero-desc h2{
        font-size: 18px;
        line-height: 29px;
    }   
}


/*0-480*/
@media screen and (max-width:480px){
    h1{
        font-size: 52px;
        line-height: 20px;
    }
    h3, .heads p{
        font-size: 32px;
        line-height: 40px;
        margin: 20px 0;
        text-align: center;
    }
    .container{
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 0;
    }
    .header{
        justify-content: space-between;
    }
    .header .header-menu-icon{
        display: block;
        padding: 10px;
    }
    .header .header-menu-icon div{
        background:#fff;
        width: 30px;
        height: 1px;
        margin: 10px 0;
        z-index: 2;
    }
    .header .header-menu-icon.close div:first-child{
        transform: rotate(45deg) translateY(8px);
    }
    .header .header-menu-icon.close div:last-child{
        transform: rotate(-45deg) translateY(-7px);
    }

    .header .header-menu{
        top: 0;
        right: 0;
        transform: translate(100%, 0);
        flex-direction: column;
        height: 1000%;
        position: absolute;
        background: #000d;
        padding: 120px 20px 0;
        width: calc(100% - 40px);
        backdrop-filter: blur(12px);
    }
    .header .header-menu.open{
        transform: translate(0, 0);
    }
    .header .header-menu ul{
        flex-direction: column;
        margin: 0;
        
    }
    .header .header-menu ul li{
        transform: translateX(600px);
        opacity: 0;
    }
    .header .header-menu ul li:nth-child(1){
        transition-delay: 0s;
    }
    .header .header-menu ul li:nth-child(2){
        transition-delay: 0.1s;
    }
    .header .header-menu ul li:nth-child(3){
        transition-delay: 0.2s;
    }
    .header .header-menu ul li:nth-child(4){
        transition-delay: 0.3s;
    }

    .header .header-menu.open ul li{
        transform: translateX(0px);
        opacity: 1;
    }
    .header .header-menu ul{
        font-size:24px;
        font-weight: 500;
    }
    .hero-container{
        flex-direction: column;
    }
    
    .hero-details{
        top: 0;
        margin-top: 20px;
        transform: translateY(0);
        width: 100%;
        text-align: center;
    }
    .hero-name h1{
        width: 100%;
        margin: 14px 0;        
    }
    .hero-name h1 span{
        font-size: 52px;
        line-height: 10px;
    }
    .hero-desc h2{
        font-size: 18px;
        line-height: 26px;
        padding: 0;
        width: 80%;
        left: 0;
        right: 0;
        margin: auto;
    }
    .hero-details .btn{
        left: 0;
        right: 0;
        margin: 24px auto;
    }
    .hero-artwork{
        width: 100%;
    }

    .bio-summary {
        font-size: 26px;
        line-height: 36px;
    }
    .bio-figures {
        flex-direction: column;
        width: fit-content;
    }
    .work{
        margin: 10px 0;
        flex-direction: column;
    }
    .work-image-holder{
        width: 100%;
    }
    .work-image-holder img{
        top: 0;
        transform: translateY(0%);
    }
    .work-desc{
        width: calc(100% - 100px);
    }
    .work-row-2{
        flex-direction: column;
    }
    .work-2, .work-3{
        width:100%
    }
    .work-desc {
        flex-direction: column;
        /* margin-top: 30px; */
    }
    .work-title {
        font-size: 24px;
        line-height: 32px;
        margin: 10px 0;
    }
    .work-content{
        font-size: 14px;
        margin: 10px 0;
    }
    .work-link{
        display: none;
    }
    .work-link-mobile{
        display: block;
        margin: 10px 0;
    }

    .shots-row{
        height: 160px;
    }
    .shots-item{
        width: 240px;
    }
        
    .blogs-box {
        flex-direction: column;
    }
    .blogs-left {
        width: 100%;
    }
    .blogs-right {
        width: 100%;
        margin-left: 0;
    }
}




@media screen and (min-width:321px) and (max-width:479px){
    h1{
        font-size: 48px;
    }
}

