*, body{
    margin: 0;
    padding: 0;
    position: relative;
    font-family: "Poppins", Arial, sans-serif;
    transition: all 0.5s cubic-bezier(0.71, 0.01, 0.13, 1.03), color 0s ease;
/*    scroll-behavior: smooth;*/
}

a{
    color: #1b1486;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-decoration: none;
    transition: all .4s cubic-bezier(0.21, 0.05, 0, 1.01);
    
}
a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 100%;
    background-color: #30f9dd;
    top: 120%;
    transition: all .2s ease;
}
a:hover{
    letter-spacing: 4px;
}
/*
a:hover::after{
   top: 100%; 
}
*/
.btn{
    background: transparent;
    border: 2px solid #30f9dd;
    color: #1b1486;
    padding: 15px 20px;
    width: fit-content;
    overflow: hidden;
}
.btn:hover, .btn a:hover{
    letter-spacing: 2px;
}
.btn a::after{
    background: transparent;
}
.btn::after{
    background-color: #30f9dd;
    content: "";
    position: absolute;
    transform: skewX(20deg);
    top: 0%;
    bottom: 0;
    left: -125%;
    height: 100%;
    width: 115%;
    z-index: -2;
    transition: all .8s cubic-bezier(0.2, 0, 0, 1); 
}

.btn:hover::after, .btn a:hover::after{
    transform: skewX(-20deg);
    left: -5%;
}

.heads p{
    font-size: 40px;
    line-height: 50px;
    margin: 20px 0;
    font-family: "Syncopate";
    font-weight: 700;
    width: 100%;
    text-transform: uppercase;
}

.header{
/*    display: none;*/
    display: inline-block;
    position: fixed;
     display: flex;
    flex-direction: row;
    padding: 10px 0;
    z-index: 9999;
    background: #fff;
    visibility: hidden;
    transition: all .4s cubic-bezier(0.21, 0.05, 0, 1.01);
}


.header .header-menu ul{
    list-style-type: none;
    margin-left: 20px;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.header .header-logo{
    padding: 0 20px;
    opacity: 0;
    transition: all .4s cubic-bezier(0.21, 0.05, 0, 1.01);
}
li{
    display: inline-block;
    padding: 18px 10px;
    transform: translateY(-60px);
    transition: transform .4s cubic-bezier(0.21, 0.05, 0, 1.01);
}
li:nth-child(1){
    transition-delay: 0s;
}
li:nth-child(2){
    transition-delay: 0.3s;
}
li:nth-child(3){
    transition-delay: 0.6s;
}
li:nth-child(4){
    transition-delay: 0.9s;
}
.header-cta{
    position: absolute;
    right: 20px;
}



.header.show{
    visibility: visible;
}
.header.show .header-logo{
    opacity: 1;
}
.header.show li{
    transform: translateY(0);
}




.hero{
    position: relative;
    width: 100%;
    height: 650px;
    left: 0;
    right: 0;
    
}

.hero-container{
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: stretch;
}
.hero-details{
    position: relative;
    left: 0;
    width: 45%;
    height: fit-content;
    z-index: 10;
    top: 50%;
    transform: translateY(-50%);
}
.hero-artwork{
    position: relative;
    width: 55%;
    height: 100%;
    z-index: 5;
}
.hero-artwork img{
    width: 620px;
}
.hero-logo img{
    margin: 20px 0;
}
.hero-name h1{
    font-size: 52px;
    line-height: 50px;
    margin: 20px 0;
    font-family: "Syncopate";
    font-weight: 700;
    width: 150%;
    text-transform: uppercase;
}
.hero-name h1 span{
    font-family: inherit;
    letter-spacing: -20px;
    transition: all 0.2s ease-in;
    
}
.hero-desc h2{
    font-size: 22px;
    line-height: 29px;
    font-weight: 300;
    margin: 20px 0;
    padding-right: 20px;
}
.hero-cta{
    margin-top: 40px;
}
.hero-cta a{
    margin-top: 40px;
    text-decoration: none;
}
.hero-image-holder{
    width: 100%;
    height: 250px;
    background: #382fc5;
    height: 100%;
    overflow: hidden;
display: none;
}
.hero-image-holder img{
    height: 100%;
    left: 50%;
    transform:translateX(-50%);
}
.hero-image-holder p{
    position: absolute;
    right: 10px;
    bottom: 10px;
    font-size: 10px;
    color: rgba(255,255,255,0.7);
}

.hero-image-holder a{
    color: rgba(255,255,255,0.9);
}


.bio{
    position: relative;
    width: 100%;
}
.bio-container{
    position: relative;
    padding: 200px 0;
}
.bio-summary{
    font-family: 'Syncopate';
    font-size: 32px;
    line-height: 46px;
    text-align: center;
    padding: 20px 0;
}
.bio-figures{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    max-width: 540px;
    left: 0;
    right: 0;
    margin: auto;
    margin-top: 50px;
}
.bio-fig-item{
    display: flex;
}
.bio-fignum{
    font-size: 32px;
    
}
.bio-figtxt{
    font-size: 14px;
    padding: 12px 0;
    padding-left: 50px;
}
.bio-figtxt::before{
    position: absolute;
    content: "";
    height: 1px;
    width: 20px;
    background: #fff;
    left: 10%;
    top: 50%;
    transform: translateY(-50%);
}





.works{
    position: relative;
    width: 100%;
}
.works-container{
    position: relative;
    padding: 100px 0;
}
.works-head{
    margin: 60px 40px;
}
.work{
    width: 100%;
    margin-top: 140px; 
}
.work-image-holder{
    width:100%;
    height: 380px;
    overflow: hidden;
    background-color: #382fc5;
}
.work-image-holder img{
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
}
.work-desc{
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: stretch;
    margin-top: 60px;
}
.work-left{
    width: 100%;
    
}
.work-right{
    flex-grow: 1;
}

.work-title{
    font-size: 32px;
    line-height: 40px;
}

.work-link{
    margin-top: 20px;
}

.work-1{
    margin-top: 0;
}




.shots{
    position: relative;
    width: 100%;
}
.shots-container{
    position: relative;
    padding: 100px 0;
    overflow: hidden;
}
.shots-row{
    position: relative;
    width: 2800px;
    height: 300px;
    padding: 10px 0;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: stretch;
    transition: none;
}
.shots-item{
    position: relative;
    width: 600px;
    background: rgba(200,200,200,0.15);
/*    float: left;*/
    margin: 0 10px;
    height: 100%;
}
.shots-row-2{
    left: -3000px;
}





.blogs{
    position: relative;
    width: 100%;
}
.blogs-container{
    position: relative;
    padding: 100px 0;
}
.blogs-head{
    margin: 60px 40px;
}

.blogs-box{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: stretch;
}
.blogs-left{
    width: 50%;
}
.blogs-right{
    width: 50%;
    margin-left: 60px;
    display: flex;
    flex-direction: column;
}
.blog-1{
    height: 100%;
    width: 100%;
}
.blog-2,
.blog-3{
    height: 50%;
    width: 100%;
}

.blog-1 .blog-image{
    width: 100%;
    height: 260px;
    background-color: #382fc5;
}

.blog-2 .blog-image, .blog-3 .blog-image, .blog-4 .blog-image{
    width: 150px;
    height: 80px;
    background-color: #382fc5;
    display: none;
}

.blog-desc .blog-title{
    font-size: 24px;
    line-height: 30px;
    font-weight: 500;
}
.blog-2, .blog-3{
    border-bottom: 1px solid rgba(175, 175, 175, 0.3);
}
.blog-2, .blog-3, .blog-4{
    padding: 20px 0;
}

.blog-1 .blog-title
{ margin: 30px 0 20px;}

.blog-2 .blog-title, .blog-3 .blog-title, .blog-4 .blog-title
{ 
    font-size: 18px;
    line-height: 20px;
    margin: 10px 0;
}
.blog-2 .blog-cont, .blog-3 .blog-cont, .blog-4 .blog-cont
{ 
    font-size: 14px;
    margin: 10px 0;
    font-weight: 300;
}


.footer{
    position: relative;
    padding: 40px 0;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: stretch;
    border-top: 1px solid rgba(175, 175, 175, 0.3);
}
.footer a{
    padding: 5px 10px;
    font-size: 14px;
}
.footer a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 10%;
    background-color: transparent;
    top: 120%;
    transition: all .2s ease;
}
.footer a:hover::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 4px;
    width: 4px;
    background-color: #30f9dd;
    top: 120%;
    transition: all .2s ease;
}

.footer .copyrights{
    font-size: 12px;
}


.container{
    max-width: 1440px;
    left: 0;
    right: 0;
    margin:auto;
    padding-left: 40px;
    padding-right: 40px;
}
.container-full{
    width: 100%;
    left: 0;
    right: 0;
    margin:auto;
}


.background-black{
    background: #000;
    color: #fff;
}
.background-black a{
    color: #fff !important;
}

.background-turq{
    background: #1b1486;
    color: #30f9dd;
}
.background-turq a{
    color: #30f9dd;
}
.background-turq a:hover{
    color: #1b1486;
}

.char-1{
    transform: matrix(0, 0, 0, 0, 0, 0);
}
.char-2{
    transform: matrix(0, 0, 0, 0, 0, 0);
}
.char-3{
    transform: matrix(0, 0, 0, 0, 0, 0);
}
.char-4{
    transform: matrix(0, 0, 0, 0, 0, 0);
}
.char-5{
    transform: matrix(0, 0, 0, 0, 0, 0);
}
.char-6{
    transform: matrix(0, 0, 0, 0, 0, 0);
}
.char-7{
    transform: matrix(0, 0, 0, 0, 0, 0);
}
.char-8{
    transform: matrix(0, 0, 0, 0, 0, 0);
}
.char-9{
    transform: matrix(0, 0, 0, 0, 0, 0);
}
.char-10{
    transform: matrix(0, 0, 0, 0, 0, 0);
}
.char-11{
    transform: matrix(0, 0, 0, 0, 0, 0);
}
.char-12{
    transform: matrix(0, 0, 0, 0, 0, 0);
}
.char-13{
    transform: matrix(0, 0, 0, 0, 0, 0);
}
.char-14{
    transform: matrix(0, 0, 0, 0, 0, 0);
}
.char-15{
    transform: matrix(0, 0, 0, 0, 0, 0);
}
.char-16{
    transform: matrix(0, 0, 0, 0, 0, 0);
}


@media screen and (min-width:1024px) and (max-width:1600px){
    .container{
        max-width: 960px;
    }
}

@media screen and (min-width:768px) and (max-width:1023px){
    .hero-container{
        
    }
}


